@model CategoryViewModel;
@{
    Layout = "_Shop";
}
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a asp-controller="Shop" asp-action="Index">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @foreach (var Category in Model.categories)
                                                {
                                                    <li><a asp-controller="Shop" asp-action="ProductCategory1" asp-route-id="@Category.Id">@Category.Name</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a asp-controller="Shop" asp-action="ProductCategory1" asp-route-min="0" asp-route-max="50" data-min="0" data-max="50"> $0.00 - $50.00 </a></li>
                                                <li><a asp-controller="Shop" asp-action="ProductCategory1" asp-route-min="50" asp-route-max="100" data-min="50" data-max="100"> $50.00 - $100.00 </a></li>
                                                <li><a asp-controller="Shop" asp-action="ProductCategory1" asp-route-min="100" asp-route-max="150" data-min="100" data-max="150"> $100.00 - $150.00 </a></li>
                                                <li><a asp-controller="Shop" asp-action="ProductCategory1" asp-route-min="150" asp-route-max="200" data-min="150" data-max="200"> $150.00 - $200.00 </a></li>
                                                <li><a asp-controller="Shop" asp-action="ProductCategory1" asp-route-min="200" asp-route-max="250" data-min="200" data-max="250"> $200.00 - $250.00 </a></li>
                                                <li><a asp-controller="Shop" asp-action="ProductCategory1" asp-route-min="250" data-min="250" data-max="Infinity"> $250.00+ </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var product in Model.products)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <a asp-controller="Shop" asp-action="ViewProductDetails" asp-route-id="@product.Id" class="product__item__pic set-bg">
                                    <img src="~/img/product/@product.img" alt="">
                                </a>
                                <div class="product__item__text">
                                    <h6>@product.Name</h6>
                                    <a asp-controller="Shop" asp-action="AddCart" asp-route-id="@product.Id" class="add-cart">+ Add To Cart</a>
                                    <h5>$@product.Price</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4">
                                            <input type="radio" id="pc-4">
                                        </label>
                                        <label class="active black" for="pc-5">
                                            <input type="radio" id="pc-5">
                                        </label>
                                        <label class="grey" for="pc-6">
                                            <input type="radio" id="pc-6">
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->